.icon-button{
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.icon-button-icon{
    height: 100%;
}

.icon-button:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}