@media only screen and (max-width: 650px) {
    .header-menu {
        display: none !important;
    }
}

@media only screen and (min-width: 651px) {
    .dropdown-button,
    .dropdown-menu {
        display: none !important;
    }
}

.dropdown-button {
    width: 50px;
    fill: black;
}

.dropdown-button:hover {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;    
    background-color: white;
    margin-bottom: 15px;
}

.navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: calc(6px + 1vi) 2%;
    gap: 30px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.navigation-button {
    margin: 10px;
    font-size: 25px;
}

.navigation-button-selected{
    font-weight: 1000;
}

.navigation-button:hover {
    text-decoration: underline;
}

.navigation-button:focus {
    text-decoration: underline;
    font-weight: 1000;
}

.header-logo{
    margin-right: 30px;
    font-size: 40px;
}