@page "/contact"
@using Portfolio.Components

<div class="content">
    <div class="space-top"></div>
    <div class="contact-list">
        <IconButton
            Class="contact-list-item"
            Name="Email"
            SubName="m.vaso64@gmail.com"
            Icon="./media/icons/mail.svg"
            Url="mailto:m.vaso64@gmail.com">
        </IconButton>

        <IconButton
            Class="contact-list-item"
            Name="LinkedIn"
            SubName="in/vaso64"
            Icon="./media/icons/linkedin.svg"
            Url="https://linkedin.com/in/vaso64">
        </IconButton>

        <IconButton
            Class="contact-list-item"
            Name="GitHub"
            SubName="Vaso64"
            Icon="./media/icons/github.svg"
            Url="https://github.com/Vaso64">
        </IconButton>

        <IconButton
            Class="contact-list-item"
            Name="Discord"
            SubName="@("@Vaso64")"
            Icon="./media/icons/discord.svg"
            Url="https://discord.com/users/346741129099739148">
        </IconButton>

        <IconButton
            Class="contact-list-item"
            Name="Itch.io"
            SubName="Vaso64"
            Icon="./media/icons/itchio.svg"
            Url="https://vaso64.itch.io/">
        </IconButton>
    </div>
    <div class="space-bottom"></div>
</div>